/*--input image background for body--*/
body{
    background-color: floralwhite;
}

/*--style heading of body--*/
.heading{
    text-align: center;
    font-family: "Segoe Print";
    padding: 15px;
}
    /*--style title--*/
    h1 span{
        display: block;
        padding: 30px;
        background-image: url(../Images/title%20bg.png);
        background-size: cover;
        border: none;
        border-radius: 25px;
    }
    /*--for tablet & laptop--*/
        @media only screen and (min-width: 600px) {
            h1{
                display: block;
                width: 80%;
                margin: auto;
            }
        }

/*--style content body--*/
    /*--for intro--*/
    .content {
        font-family: Comic Sans MS;
        width: 100%;
        margin: auto;
        display: block;
        padding: 15px;
        border-radius: 25px;
        background-color: rgba(175, 238, 238, 0.4);
        margin-bottom: 15px;
    }
    h2 {
        font-size: 22px;
        padding: 5px;
    }
    .content p {
        font-size: 19px;
        padding: 5px;
    }
        /*--for laptop--*/
        @media only screen and (min-width: 768px) {
            .content {
                width: 80%;
                margin: auto;
            }
        }

    /*--for basic crochet--*/
    .details{
        font-family: Comic Sans MS;
        width: 100%;
        margin: auto;
    }
        /*--style summary box--*/
        summary {
            font-size: 20px;
            padding: 10px;
            border: none;
            border-radius: 25px;
            background-color: powderblue;
            margin: 10px;
        }
        summary:focus{
            outline: none;
        }
        /*--style content in details--*/
        .details-content {
            width: 100%;
            display: block;
            font-size: 18px;
            padding: 15px;
            margin: auto;
            border-radius: 25px;
            background-color: rgba(175, 238, 238, 0.4);
            text-align: justify;
        }
            /*--style img in detail--*/
            .details-content img {
                display: block;
                width: 100%;
                margin: auto;
                border: none;
                border-radius: 25px;
                padding: 10px;
                padding-bottom: 20px;
            }
            /*--style text in detail--*/
            .details-text {
                display: block;
                width: 100%;
                margin: auto;
            }
        /*--for tablet--*/
        @media only screen and (min-width: 600px) {
            .details {
                width: 100%;
                margin: auto;
            }
            .details-content img {
                display: block;
                width: 50%;
                margin: auto;
                border: none;
                border-radius: 25px;
                padding-bottom: 20px;
            }
            .details-text {
                display: block;
                width: 80%;
                margin: auto;
            }
        }
        /*--for laptop--*/
        @media only screen and (min-width: 900px) {
            .details {
                width: 80%;
                margin: auto;
            }
            .details-content img {
                display: block;
                width: 50%;
                margin: auto;
                border: none;
                border-radius: 25px;
                padding: 30px;
                padding-bottom: 20px;
            }
            .details-text {
                display: block;
                width: 50%;
                margin: auto;
            }
        }


