/*--input image background for body--*/
body{
    background-color: floralwhite;
}
/*--style heading of body--*/
h1{
    text-align: center;
    font-family: "Segoe Print";
    padding: 15px;
}
h1 span{
    display: block;
    padding: 30px;
    background-image: url(../Images/title%20bg.png);
    background-size: cover;
    border: none;
    border-radius: 25px;
}

/*--style content container--*/
.materials-container {
    font-family: Comic Sans MS;
    width: 100%;
    margin: auto;
    padding: 8px;
}

/*--style text of content--*/
summary{
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: powderblue;
    margin: 15px;
}
summary:focus{
    outline: none;
}
.material-details{
    display: block;
    font-size: 18px;
    padding: 15px;
    margin: auto;
    border-radius: 25px;
    background-color: rgba(175, 238, 238, 0.4);
    text-align: justify;
}
.material-details img{
    display: block;
    width: 90%;
    margin: auto;
    border: none;
    border-radius: 25px;
    padding: 10px;
    padding-bottom: 20px;
}
.details-content {
    display: block;
    width: 80%;
    margin: auto;
}
    /*--for tablet--*/
    @media only screen and (min-width: 600px) {
        h1{
            display: block;
            width: 80%;
            margin: auto;
        }
        .materials-container {
            width: 80%;
            margin: auto;
        }
        .material-details img {
            display: block;
            width: 70%;
            margin: auto;
            border: none;
            border-radius: 25px;
            padding-bottom: 20px;
        }
    }

    /*--for laptop--*/
    @media only screen and (min-width: 900px) {
        .materials-container {
            width: 80%;
            margin: auto;
        }
        .material-details img {
            display: block;
            width: 50%;
            margin: auto;
            border: none;
            border-radius: 25px;
            padding-bottom: 20px;
        }

    }
