/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
}

/*-for tablets-*/
@media only screen and (min-width: 768px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

/*--for laptop--*/
@media only screen and (min-width: 900px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*--Homepage Slideshow--*/
body{
    background-color: floralwhite;
}
#slide{
	width:100%;
	}
.slideshow-container {
	box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 10px;
    width: 100%;
	position: relative;
	margin: -10px;
}
.mySlides {
	display: none;
    text-align: center;
}
.mySlides img{
    width: 70%;
}
    /*--style dots indicators--*/
    .dot {
        cursor: pointer;
        height: 13px;
        width: 13px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .active, .dot:hover {
        background-color: #717171;
    }
    /*--fading animation--*/
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 2s;
        animation-name: fade;
        animation-duration: 2s;
    }
    @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }
    /*--slideshow size for phone--*/
    @media screen and (max-width: 768px){
        .mySlides img{
            width: 100%;
        }
    }
    /*--slideshow size for tablet--*/
    @media screen and (min-width: 768px) and (max-width: 1000px){
        .mySlides img{
            width: 80%;
        }
    }

/*--style title of image gallery--*/
.heading{
    text-align: center;
    font-family: "Segoe Print";
    padding: 15px;
}
h1{
    text-align: center;
    font-family: "Segoe Print";
    padding: 10px;
}   
h1 span{
    display: block;
    padding: 18px;
    background-image: url(../Images/title%20bg.png);
    background-size: cover;
    border: none;
    border-radius: 25px;
}
    /*--for tablet--*/
    @media only screen and (min-width: 768px) {
        h1{
            display: block;
            width: 80%;
            margin: auto;
        }
    }

/*--style image gallery--*/
.gallery-container{
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}
    /*--make image next to each other--*/
    .gallery {
        box-sizing: border-box;
        border: 1px solid transparent;
        border-radius: 25px;
        width: 100%;
        float: left;
        padding: 15px;

    }
    /*--create broder when hover over image--*/
    .gallery:hover {
        border: 1px solid #777;
    }
    /*--adjust dimesion of image itself--*/
    .gallery img {
        width: 100%;
        height: auto;
        border-radius: 25px;

    }
    /*--style caption--*/
    .description {
        padding: 15px;
        text-align: center;
        font-size: 18px;
        font-family: Comic Sans MS;
    }
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
    /*--image gallery for tablet--*/
    @media only screen and (min-width: 768px){
        .gallery{
            width: 50%;
        }
    }
    /*--image gallery for desktop--*/
    @media only screen and (min-width: 900px){
        .gallery{
            width: 25%;
        }
    }

